body {
  background-color: #07060f;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
}
input,
select {
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 8px;
  padding: 0 10px;
  width: 420px;
  border: none;
  color: #ffffff;
}
select {
  width: 446px;
  color: #ffffff;
}
.widget {
  backdrop-filter: blur(50px);
  background-color: rgba(255, 255, 255, 0.14);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  height: 620px;
  left: 50%;
  padding: 50px 35px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
}
label,
td {
  border: none;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
}
h3 {
  color: #ffffff;
  text-align: center;
}
h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
h1 {
  color: #23a2f6;
  font-size: 34px;
  font-weight: 500;
  line-height: 42px;
  padding: 20px 1px 20px 10px;
  text-align: center;
}
p {
  color: #ffffff;
  padding: 10px;
  padding-bottom: 30px;
  text-align: center;
}

button {
  background-color: #ffffff;
  border: solid;
  border-color: #616161;
  border-radius: 5px;
  border-width: 2px;
  bottom: 0;
  color: #080710;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 50px;
  padding: 15px;
  position: absolute;
  width: 450px;
}
button:hover {
  border-color: #23a2f6;
  background-color: #c0e2f8;
}
.background {
  height: 800px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
}
.background .shape {
  border-radius: 50%;
  height: 200px;
  position: absolute;
  width: 200px;
}
.shape:first-child {
  background: linear-gradient(#1849b0, #23a2f6);
  left: -70px;
  top: -80px;
}
.shape:last-child {
  background: linear-gradient(to right, #ff512f, #f09819);
  bottom: -80px;
  right: -60px;
}
.image-div {
  text-align: center;
}
.centered-image {
  padding-left: 33%;
  align-items: center;
}
.account-created {
  padding-left: 3%;
  align-items: center;
}
.underage-wrapper {
  padding-left: 15%;
  align-items: center;
}
.captcha-image {
  padding-left: 33%;
  align-items: center;
}

.card-img {
  width: 150px;
}
.robot {
  width: 270px;
}
.poker {
  width: 350px;
}
.reviewinfo {
  font-size: 19px;
  font-weight: lighter;
  padding-bottom: 20px;
}
.footer {
  padding-top: 80px;
}
div.error-message {
  color: #ff0000;
  letter-spacing: 0.5px;
  padding-bottom: 10px;
}
.btn--remix {
  font-family: "Verdana", sans-serif;
  padding: 5px 10px;
  font-size: 1.1rem;
  line-height: 1rem;
  font-weight: 500;
  height: 30px;
  align-items: center;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 4px;
  text-decoration: none;
  color: #20aaca;
  white-space: nowrap;
}

.btn--remix img {
  margin-right: 0.5rem;
}
div.glitch {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
